@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.auth {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  color: rgb(48, 48, 48);
}
